/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END CSS RESET*/

body {
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  color: #1b1c1e;
  font-family: Tahoma, Geneva, sans-serif;
}
h1 {
  font-size: large;
  padding: 5px;
}
p {
  padding: 3px;
}
#container {
  min-height: 1040px;
  display: flex;
  flex-direction: column;
}
#calcTitle {
  margin: auto;
  width: 400px;
  text-align: center;
  margin-bottom: 10px;
}
#calcContent {
  border: thin solid blue;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
#sideContent {
  border: thin solid green;
  background-image: url(http://2.bp.blogspot.com/-et2zQUqNYNI/UTPEsvZDYfI/AAAAAAAAEog/j885ciZS5O4/s1600/Advertsmall.JPG);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 450px;
  min-height: 800px;

}
#calculator {
  margin: auto;
  background-color: silver;
  width: 200px;
}

@media (min-width: 769px) {
  #container {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: flex-start;
  }
  #sideContent {
    flex: 1;
    background-position: right top;
  }
  #calcContent {
    width: 50%;
    margin-top: 20%;
  }

}
